@import "mixins.scss";
@import "variables.scss";

a {
  cursor: pointer;
  color: inherit;
}

.p-bt-40 {
  padding-bottom: 40px;
}

.p-bt-14 {
  padding-bottom: 14px;
}

.p-bt-75 {
  padding-bottom: 75px;
}

.m-r-20 {
  margin-right: 20px;
}

.p-bt-20 {
  padding-bottom: 20px;
}

.p-t-10 {
    padding-top: 10px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-bt-30 {
  padding-bottom: 30px;
}

.p-bt-60 {
  padding-bottom: 60px;
}

.p-t-112 {
  padding-top: 112px;
}

.p-t-44 {
    padding-top: 44px;
}

.p-t-14 {
  padding-top: 14px;
}

.m-t-30 {
  margin-top: 30px;
}

.p-bt-112 {
  padding-bottom: 112px;
}

.p-r-18 {
  padding-right: 18px;
}

.bor-rad-25 {
  border-radius: 25px;
}

.width-100 {
  width: 100%;
}

.height-50 {
  height: 50px;
}

.cursor-pointer {
  cursor: pointer;
}

.main-title-dark-blue {
  @include body-60-medium;
  color: $dark-blue-subtitle;
}

.title-dark-blue {
  @include body-40-medium;
  color: $dark-blue-subtitle;
}

.title-white {
  @include body-40-medium;
  color: $white;
}

.subtitle-gray {
  @include body-16-regular;
  color: $gray-text;
}

.text-article {
  @include body-14-regular;
  color: $gray-text;
  opacity: 0.7;
}

.text-gray-opacity {
  @include body-12-regular;
  color: $gray-text;
  opacity: 0.7;
}

.block-size {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 100px;
  width: 1280px;
  max-width: 95%;
  border-radius: 45px;
}
.info-banner {
  div {
    .swiper {
      height: fit-content;
    }
  }
}
.container-size {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto 100px;
}

.base-wrapper-grey {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin: 20px auto 100px auto;
  border-radius: 45px;
  background-color: #f9f9fa;
}

.base-container-grey {
  width: 1280px;
  max-width: 100%;
}

.base-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 100px;
}

.base-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1400px) {
  .base-wrapper-grey {
    background: none;
  }
}

@media screen and (max-width: 700px) {
  .base-wrapper-grey {
    margin: 20px auto 80px auto;
  }
}

.header-nav-item {
  @include body-14-regular;
  color: $gray-text;
  position: relative;
  display: inline-block;
  transition: all 0.3s ease-in-out, opacity 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    color: $hover;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.5px;
      background-color: $hover;
      transition: all 0.3s ease;
    }
  }

  &:active {
    color: #101944;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.5px;
      background-color: $click;
      transition: all 0.3s ease;
    }
  }

  &:focus {
    color: $gray-text;
    // &::after {
    //     content: '';
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 1px;
    //     background-color: $hover;
    //     transition: all .3s ease;
    //   }
  }
}

.header-nav-item-without-after {
  @include body-14-regular;
  color: $gray-text;
  position: relative;
  display: inline-block;
  transition: all 0.3s ease-in-out, opacity 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    color: $hover;
  }
}

.header-nav-item-mob {
  @include body-14-regular;
  color: $gray-text;
  position: relative;
  display: inline-block;
  transition: all 0.3s ease-in-out, opacity 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    color: $hover;
  }
}

.button-base {
  @include body-16-regular;
  @include flex-center-center;
  padding: 14px 30px;
  box-sizing: border-box;
  background-color: $hover;
  border: 1px solid $click;
  outline: none;
  color: $white;
  border-radius: 45px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: block;
  &:hover:not(:disabled) {
    border: 1px solid $hover;
    background-color: $white;
    color: $hover;
    .svg {
      fill: #232d5b;
    }
    .svg-stroke {
      stroke: #232d5b;
    }
  }

  &:hover:not(:disabled) {
    border: 1px solid $click;
    background-color: $white;
    color: $click;
  }

  &:disabled {
    background-color: $dissabled;
    border: 1px solid $dissabled;
    color: $white;
    cursor: not-allowed;
  }
}

.input {
  outline: none;
  width: 100%;
  height: 56px;
  padding: 14px 20px;
  border-radius: 45px;
  border: 1px solid $light-gray;
  background: transparent;
  color: $gray-text;
  @include body-16-regular;

  &::placeholder {
    @include body-16-regular;
    color: $placeholder;
  }

  &:hover {
    border: 1px solid $dissabled;
  }

  &:disabled {
    color: $dissabled-color;
    border: 1px solid $border-card;
    background: $light-gray;
  }
}
.input:valid {
  color: $placeholder;
  border: 1px solid #e9e9e9;
}

.input:valid:hover {
  border: 1px solid $dissabled;
}

.textarea-base {
  resize: none;
  outline: none;
  overflow: auto;
  width: 100%;
  height: 140px;
  padding: 17px 20px;
  border-radius: 25px;
  @include body-16-regular;
  color: $gray-text;
  border: 1px solid #e9e9e9;

  &::placeholder {
    @include body-16-regular;
    color: $placeholder;
  }

  &:hover {
    border: 1px solid $dissabled;
  }

  &:disabled {
    color: $dissabled-color;
    border: 1px solid $border-card;
    background: $light-gray;
  }
}

.textarea-base:valid {
  color: $placeholder;
}

.grey-point-container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.grey-point {
  width: 4px;
  height: 4px;
  // margin: 0 10px;
  background-color: $gray-text;
  border-radius: 50px;
  opacity: 0.2;
}

.grey-point-text {
  @include body-12-regular;
  color: $gray-text;
  opacity: 0.7;
}

::-webkit-scrollbar {
  width: 3px;
  // height: 8px;
}

::-webkit-scrollbar-track {
  margin: 20px;
  border-radius: 15px;
  background: var(--light-bg, #f9f9fa);
  display: flex;
  width: 3px;
}

::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

::-webkit-scrollbar-track:active {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: rgba(35, 45, 91, 0.4);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(35, 45, 91, 0.4);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(35, 45, 91, 0.4);
}

.m-r-l-31 {
  margin: 0 31px;
}

.wrapper-btn {
  .swiper-button-prev:hover {
    svg {
      path {
        fill: #232d5b;
      }
      rect {
        stroke: #cfd5e1;
      }
    }
  }

  .swiper-button-next:hover {
    svg {
      path {
        fill: #232d5b;
      }
      rect {
        stroke: #cfd5e1;
      }
    }
  }

  .swiper-button-disabled {
    background: transparent;
    opacity: 1;
    svg {
      path {
        fill: #e9e9e9;
      }
      rect {
        stroke: #e9e9e9;
      }
    }
  }
}

@media (max-width: 650px) {
  .m-r-l-31 {
    margin: 0 16px;
  }
}
