//Default colors
$white: #ffffff;
$black: #000000;
$light-gray: #F9F9FA;
$dark-blue-subtitle: #1E2433;
$gray-text: #525660;
$dark-red: #9A1731;
$light-blue: #A2E1EA;
$hover: #232D5B;
$click: #101944;
$dissabled: #CFD5E1;
$border-card: #E9E9E9;
$placeholder: #7F838C;
$dissabled-color: #F0F0F0;
$green: #17C989;

// gradients
$light-blue-gradient: linear-gradient(180deg, #E7F1FA 0%, #E7F1FA 24.69%, #E6F1F9 35.16%, #DFEDF8 49.27%, #D9E9F6 61.08%, #D3E4F4 68.63%, #D2E4F2 76.16%, #CDE0F1 84.94%, #C3D8EB 100%), linear-gradient(180deg, #DCEDF7 0%, #D9E9F6 49.27%, #D3E4F4 68.63%, #D0E3F2 76.16%, #CDE0F1 84.94%, #C3D8EB 100%);
$blue-gradient: radial-gradient(420.90% 165.84% at 53.75% 50.00%, #232D5B 0%, #101944 100%);
$dark-blue-gradient: radial-gradient(420.90% 165.84% at 53.75% 50.00%, #232D5B 0%, #101944 100%);
$bright-blue-gradient: linear-gradient(0deg, #A2E1EA 0%, #A2E1EA 100%), radial-gradient(420.9% 165.84% at 53.75% 50%, #232D5B 0%, #101944 100%), radial-gradient(160.3% 32.01% at 57.82% 46.68%, rgba(255, 255, 255, 0.00) 45.45%, rgba(255, 255, 255, 0.65) 100%);
